.btn {
  display: block;
  padding: 10px;
  margin: 10px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  background-color: $color-alice-blue;
  color: $color-tangaroa;
  border: none;
  cursor: pointer;
  user-select: none;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      background-color: darken($color-alice-blue, 20%);
    }
  }

  &:active {
    background-color: darken($color-alice-blue, 20%);
  }

  &--booking {
    @include fluid-desktop {
      padding: 6px;
      font-weight: 500;
      font-size: 1vw;
      line-height: 1.3vw;
    }

    @include fluid-tablet {
      padding: 15px;
      font-size: 1.8vw;
      line-height: 2.3vw;
    }

    @include fluid-mobile {
      padding: 18px;
      font-size: 4.4vw;
      line-height: 4.7vw;
    }
  }
}
