.card {
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  width: 100%;
  padding-top: 148.46%;
  position: relative;

  .card__box {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: auto;
    margin-bottom: 22px;
    margin-left: 30px;
    margin-right: 20px;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 5;

    @include fluid-desktop {
      font-size: 1.2vw;
      line-height: 1.5vw;
      margin-left: 11%;
      margin-right: 8%;
    }

    @include fluid-tablet {
      font-size: 2.4vw;
      line-height: 2.7vw;
      margin-left: 11%;
      margin-right: 8%;
    }

    @include fluid-mobile {
      font-size: 5.4vw;
      line-height: 5.7vw;
      margin-left: 11%;
      margin-right: 8%;
    }
  }

  dl {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 20px;

    @include fluid-desktop {
      font-size: 1vw;
      line-height: 1.3vw;
    }

    @include fluid-tablet {
      font-size: 1.8vw;
      line-height: 2.3vw;
    }

    @include fluid-mobile {
      font-size: 4.4vw;
      line-height: 5.4vw;
    }
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-left: 0;
    color: $color-quartz;

    &:not(:last-child) {
      margin-bottom: 5.2%;
    }
  }
}

.card__img-box {
  position: relative;
  overflow: hidden;
  max-width: 260px;
  max-height: 386px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 4;

  .card__overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    background-image: $tangaroa-to-bottom;
  }

  img {
    max-width: none;
    position: absolute;
  }
}

.card__text-box {
  background-color: $color-tangaroa;
  max-width: 260px;
  max-height: 386px;
  padding: 70px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 3;

  @include fluid-desktop {
    padding: 23% 8% 10% 8%;
  }
}

.card__link-booking {
  margin: 0;
  margin-top: auto;
}

.card--astoriya {
  img {
    top: 0;
    left: -72px;
  }
}

.card--elain {
  img {
    top: 0;
    left: -72px;
  }
}

.card--atlantis {
  img {
    top: 0;
    left: -25px;
  }
}

.card--odysseus {
  img {
    width: 310px;
    top: 0;
    left: -35px;
  }
}

.card--olimpiya {
  img {
    width: 320px;
    top: 0;
    left: -3px;
  }
}

.card--aurora {
  img {
    top: 0;
    left: -19px;
  }
}

.card--leonor {
  img {
    width: 284px;
    height: 100%;
    top: 0;
    left: -6px;
  }
}

.card--minion {
  img {
    width: 287px;
    height: 100%;
    top: 0;
    left: -14px;
  }
}

@media (hover: hover), screen and (min-width: 0\0) {
  .card:hover,
  .card:focus,
  .card:focus-within {
    h3 {
      margin: 27px 25px 0 25px;
      height: min-content;

      @include fluid-desktop {
        margin: 10% 8% 0 8%;
      }
    }

    .card__img-box {
      z-index: 0;
    }
  }
}

.card:active {
  h3 {
    margin: 27px 25px 0 25px;
    height: min-content;

    @include fluid-desktop {
      margin: 10% 8% 0 8%;
    }
  }

  .card__img-box {
    z-index: 0;
  }
}

@include vp-1023 {
  .card {
    padding-top: 124.92%;

    h3 {
      margin-bottom: 28px;
      margin-left: 35px;
    }
  }

  .card__img-box {
    max-width: none;
    max-height: none;
    min-width: 309px;
    min-height: 386px;
  }

  .card__text-box {
    max-width: none;
    max-height: none;
    min-width: 309px;
    min-height: 386px;
    padding: 70px 35px 35px 35px;
  }

  .card--astoriya {
    img {
      left: -49px;
    }
  }

  .card--elain {
    img {
      left: -49px;
    }
  }

  .card--atlantis {
    img {
      left: 0;
    }
  }

  .card--odysseus {
    img {
      width: auto;
      left: -18px;
    }
  }

  .card--olimpiya {
    img {
      width: auto;
      left: -21px;
    }
  }

  .card--aurora {
    img {
      left: -14px;
    }
  }

  .card--leonor {
    img {
      width: auto;
      left: -9px;
    }
  }

  .card--minion {
    img {
      width: auto;
      left: -15px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    .card:hover,
    .card:focus,
    .card:focus-within {
      h3 {
        margin: 27px 35px 0 35px;
      }
    }
  }

  .card:active {
    h3 {
      margin: 27px 35px 0 35px;
    }
  }
}

@include vp-767 {
  .card {
    padding-top: 142.96%;

    h3 {
      margin-bottom: 19px;
      margin-left: 25px;
    }
  }

  .card__img-box {
    min-width: 270px;
    min-height: 386px;
  }

  .card__text-box {
    min-width: 270px;
    min-height: 386px;
    padding: 70px 25px 35px 25px;
  }

  .card--astoriya {
    img {
      left: -69px;
    }
  }

  .card--elain {
    img {
      left: -69px;
    }
  }

  .card--atlantis {
    img {
      left: -20px;
    }
  }

  .card--odysseus {
    img {
      width: 295px;
      height: 455px;
      left: -17px;
    }
  }

  .card--olimpiya {
    img {
      width: 300px;
      height: 400px;
      left: -17px;
    }
  }

  .card--aurora {
    img {
      left: -34px;
    }
  }

  .card--leonor {
    img {
      width: 298px;
      height: 386px;
      left: -8px;
    }
  }

  .card--minion {
    img {
      width: 298px;
      height: 390px;
      left: -15px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    .card:hover,
    .card:focus,
    .card:focus-within {
      h3 {
        margin: 27px 25px 0 25px;
      }
    }
  }

  .card:active {
    h3 {
      margin: 27px 25px 0 25px;
    }
  }
}

.card[data-is-touch="true"] {
  h3 {
    margin: 27px 25px 0 25px;
    height: min-content;

    @include fluid-desktop {
      margin: 10% 8% 0 8%;
    }
  }

  .card__img-box {
    z-index: 0;
  }

  @include vp-1023 {
    h3 {
      margin: 27px 35px 0 35px;
    }
  }

  @include vp-767 {
    h3 {
      margin: 27px 25px 0 25px;
    }
  }
}
