.cruises {
  margin-bottom: 120px;

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 47px;
    text-align: center;
  }
}

.cruises__list {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

@include vp-1023 {
  .cruises {
    margin-bottom: 100px;

    h2 {
      font-size: 26px;
      line-height: 39px;
      margin-bottom: 50px;
    }
  }

  .cruises__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include vp-767 {
  .cruises {
    margin-bottom: 65px;

    h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 31px;
    }
  }

  .cruises__list {
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: auto;
  }
}
