.description {
  margin-bottom: 120px;

  br {
    display: none;
  }

  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    margin-top: 55px;
    margin-bottom: 25px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    width: 520px;
  }

  .description__box--img {
    width: 560px;
    height: 301px;
    position: relative;
    overflow: hidden;
  }

  img {
    max-width: none;
    position: absolute;
    top: -35px;
    left: -101px;
  }
}

.description__wrapper {
  display: flex;
  justify-content: space-between;
}

@include vp-1365 {
  .description {
    margin-bottom: 80px;

    br {
      display: inline;
    }

    h2 {
      font-size: 26px;
      line-height: 36px;
      margin-top: -10px;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-top: 0;
      width: 325px;
    }

    .description__box--img {
      width: 324px;
      height: 264px;
    }

    img {
      width: 466px;
      top: 0;
      left: -70px;
    }
  }
}

@include vp-767 {
  .description {
    margin-bottom: 65px;

    h2 {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 17px;
    }

    p {
      margin-bottom: 33px;
      width: auto;
    }

    .description__wrapper {
      flex-direction: column;
    }

    .description__box--img {
      width: 290px;
      height: 186px;
    }

    img {
      width: 329px;
      top: 0;
      left: -19px;
    }
  }
}
