.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 33px;
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  @include vp-319 {
    padding-top: 5px;
    padding-bottom: 5px;

    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.menu__item a {
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 16px;

  &:hover,
  &:focus,
  &:active {
    color: darken($color-alice-blue, 30%);
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 17px;
  }
}

.menu--header {
  @include vp-319 {
    flex-direction: column;
  }

  .menu__item a {
    @include vp-319 {
      font-size: 18px;
      line-height: 22px;
      color: $color-tangaroa;

      &:hover,
      &:focus,
      &:active {
        color: lighten($color-tangaroa, 30%);
      }
    }
  }
}

.menu--footer {
  @include vp-767 {
    .menu__item a {
      font-size: 12px;
      line-height: 15px;
    }
  }

  @include vp-319 {
    flex-direction: column;
  }
}
