.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding-top: 9px;
  padding-bottom: 9px;

  &:not(:last-child) {
    margin-right: 33px;
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}

.menu__item a {
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 16px;

  &:hover,
  &:focus,
  &:active {
    color: darken($color-alice-blue, 30%);
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 17px;
  }
}
