.page-header {
  background-color: $color-lochmara;

  &--main-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-transparent;
  }

  &[data-is-js="false"] {
    @include vp-320 {
      position: static;
      top: 0;
      left: 0;
      right: 0;
      background-color: $color-transparent;
    }
  }
}
