.page-footer {
  background-color: $color-tangaroa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-footer__wrapper {
  display: flex;
}

.page-footer__box {
  &--logo {
    margin-right: 40px;
  }

  &--social {
    margin-left: auto;
    align-self: center;
  }
}

.page-footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__social-item {
  &:not(:last-child) {
    margin-right: 33px;
  }
}

.page-footer__social-item a {
  color: $color-alice-blue;

  &:hover,
  &:focus,
  &:active {
    color: darken($color-alice-blue, 30%);
  }
}
