.page-header {
  background-color: $color-lochmara;

  &--main-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-transparent;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;

  @include vp-767 {
    padding-top: 20px;
  }
}

.page-header__link-logo {
    align-self: center;
    margin-right: 15px;
}

.page-header__link-logo img {
  width: 70px;
  height: 38px;

  @include vp-767 {
    width: 38px;
    height: 20px;
  }
}
