.promo {
  background-color: $color-lochmara;
  background-image: url("../img/back/antarctica-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-bottom: 47px;
  position: relative;
  top: -73px;

  @include retina {
    background-image: url("../img/back/antarctica-desktop@2x.jpg");
  }

  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: $color-alice-blue;
    margin: 0;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
    color: $color-alice-blue;
    margin: 0;
  }


  @include vp-767 {
    background-image: url("../img/back/antarctica-tablet.jpg");

    @include retina {
      background-image: url("../img/back/antarctica-desktop@2x.jpg");
    }

    h1 {
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.promo__wrapper {
  padding-left: 95px;
  padding-top: 210px;
  padding-bottom: 283px;

  @include vp-767 {
    padding-left: 0;
    padding-top: 230px;
    padding-bottom: 280px;
  }
}
