.promo {
  background-color: $color-lochmara;
  background-image: url("../img/back/antarctica-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 650px;
  margin-bottom: 120px;

  @include retina {
    background-image: url("../img/back/antarctica-desktop@2x.jpg");
  }

  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: $color-alice-blue;
    margin: 0;
    margin-bottom: 11px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
    color: $color-alice-blue;
    margin: 0;
  }

  br {
    display: none;
  }

  @include vp-1023 {
    background-image: url("../img/back/antarctica-tablet.jpg");

    height: 638px;
    margin-bottom: 100px;

    @include retina {
      background-image: url("../img/back/antarctica-desktop@2x.jpg");
    }

    h1 {
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @include vp-767 {
    background-image: url("../img/back/antarctica-mobile.jpg");

    height: 500px;
    margin-bottom: 65px;

    @include retina {
      background-image: url("../img/back/antarctica-mobile@2x.jpg");
    }

    h1 {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }

    br {
      display: inline;
    }
  }
}

.promo__wrapper {
  padding-left: 95px;

  @include vp-1023 {
    padding-left: 0;
  }
}
