// Colors
// ---------------------------------

// Default

$color-black:#000000;
$color-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-alice-blue: #f9fbfd;
$color-tangaroa: #011c40;
$color-lochmara: #366ead;
$color-pattens-blue: #dae6f4;
$color-quartz: #d8d8d9;


// Gradient

$tangaroa-to-bottom: linear-gradient(180deg, $color-transparent 50%, $color-tangaroa 100%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 14px;
$ff-montserrat: "Montserrat", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
